@model IFNMUSiteCore.Models.Chair
@{
    Layout = null;
    string classCss, path;
}
<form class="formDocuments" action="/Chair/Folder" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#foldersAndFiles" method="post">
    @foreach (Folder folder in Model.Folders)
    {
    <div class="contBtn">
        <button name="btn" class="folder" value="@folder.Id" title="@folder.Name"><p>@folder.Name</p></button>
        <button type="button" name="btnInfo" class="btnInfoСlass" id="btnInfo" value="@folder.Id"></button>
    </div>
    }
    @foreach (File file in Model.Files)
    {
        switch (file.TypeFile)
        {
            case TypeFile.Word:
                {
                    classCss = "fileWord";
                    path = "https://view.officeapps.live.com/op/embed.aspx?src=http://" + (string)ViewBag.Host + "" + file.Path;
                    break;
                }
            case TypeFile.Excel:
                {
                    classCss = "fileExcel";
                    path = "https://view.officeapps.live.com/op/embed.aspx?src=http://" + (string)ViewBag.Host + "" + file.Path;
                    break;
                }
            case TypeFile.PowerPoint:
                {
                    classCss = "filePowerPoint";
                    path = "https://view.officeapps.live.com/op/embed.aspx?src=http://" + (string)ViewBag.Host + "" + file.Path;
                    break;
                }
            case TypeFile.PDF:
                {
                    classCss = "filePDF";
                    path = (string)ViewBag.Host + file.Path;
                    break;
                }
            case TypeFile.Image:
                {
                    classCss = "fileImage";
                    path = (string)ViewBag.Host + file.Path;
                    break;
                }
            case TypeFile.DJVU:
                {
                    classCss = "fileDJVU";
                    path = (string)ViewBag.Host + file.Path;
                    break;
                }
            default:
                {
                    classCss = "fileNone";
                    path = (string)ViewBag.Host + file.Path;
                    break;
                }
        }
    <div class="contBtn">
        <a class="@(classCss)" href="@path" title="@file.Name"><p>@file.Name</p></a>
        <button type="button" name="btnInfo" class="btnInfoСlassFile" id="btnInfo" value="@file.Id"></button>
    </div>
    }
</form>

<div class="modal-overlay modalFolderAdd" style="overflow-y: auto">
    <div class="modal modal2">

        <a class="close-modal close-modal2">
            <svg viewBox="0 0 20 20">
                <path fill="#000000" d="M15.898,4.045c-0.271-0.272-0.713-0.272-0.986,0l-4.71,4.711L5.493,4.045c-0.272-0.272-0.714-0.272-0.986,0s-0.272,0.714,0,0.986l4.709,4.711l-4.71,4.711c-0.272,0.271-0.272,0.713,0,0.986c0.136,0.136,0.314,0.203,0.492,0.203c0.179,0,0.357-0.067,0.493-0.203l4.711-4.711l4.71,4.711c0.137,0.136,0.314,0.203,0.494,0.203c0.178,0,0.355-0.067,0.492-0.203c0.273-0.273,0.273-0.715,0-0.986l-4.711-4.711l4.711-4.711C16.172,4.759,16.172,4.317,15.898,4.045z"></path>
            </svg>
        </a><!-- close modal -->

        <div class="modal-content">
            <form class="modalContentAdmin" method="post" asp-controller="Chair" asp-action="FolderAdd" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#foldersAndFiles" data-ajax-complete="function () {$('.modalFolderAdd').removeClass('active');$('.modal2').removeClass('active');}">
                <input type="hidden" name="ChairId" id="ChairId" value="@Model.Id" />
                <label for="Name">Введіть назву папки</label><br />
                <input type="text" name="Name" id="Name" style="width:80%"><br />
                <input type="submit" value="Створити" />
            </form>
        </div><!-- content -->

    </div><!-- modal -->
</div><!-- overlay -->
<div class="modal-overlay modalFileAdd" style="overflow-y: auto">
    <div class="modal modal3">

        <a class="close-modal close-modal3">
            <svg viewBox="0 0 20 20">
                <path fill="#000000" d="M15.898,4.045c-0.271-0.272-0.713-0.272-0.986,0l-4.71,4.711L5.493,4.045c-0.272-0.272-0.714-0.272-0.986,0s-0.272,0.714,0,0.986l4.709,4.711l-4.71,4.711c-0.272,0.271-0.272,0.713,0,0.986c0.136,0.136,0.314,0.203,0.492,0.203c0.179,0,0.357-0.067,0.493-0.203l4.711-4.711l4.71,4.711c0.137,0.136,0.314,0.203,0.494,0.203c0.178,0,0.355-0.067,0.492-0.203c0.273-0.273,0.273-0.715,0-0.986l-4.711-4.711l4.711-4.711C16.172,4.759,16.172,4.317,15.898,4.045z"></path>
            </svg>
        </a><!-- close modal -->

        <div class="modal-content">
            <form class="modalContentAdmin" enctype="multipart/form-data" method="post" asp-controller="Chair" asp-action="FileAdd" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#foldersAndFiles" data-ajax-complete="function () {$('.modalFileAdd').removeClass('active');$('.modal3').removeClass('active');}">
                <input type="hidden" name="ChairIdd" id="ChairIdd" value="@Model.Id" />
                <label for="Name">Додайте файли</label>
                <input type="file" name="uploadFile" id="uploadFile" style="width:80%" multiple>
                <input type="submit" value="Додати" />
            </form>
        </div><!-- content -->

    </div><!-- modal -->
</div><!-- overlay -->